<!DOCTYPE html>
<html>
<head>
  <title>Paginas Web En Monterrey, Ventas y Soporte Ruby on Rails, PHP, Etc</title>
  <meta name="Description" CONTENT="Creacion de diseño web o creacion paginas de internet, Pagina de internet para tu empresa ventas de paginas de internet,Category: Venta Web, Length: 2 pages">
  <meta name="google-site-verification" content="hUi-fVdTnapzo6fsuk3vbPG9lLunRe1-_mMuyf9YDGk" />
  <meta name="keywords" content="pagina internet en monterrey,pagina internet en nuevo leon,ventas de sitios web,ventas de sitios web en monterrey, web, Nuevo leon, paginas de internet, ventas para paginas de internet,soporte freelancer, soporte en nuevo leon, soporte en monterrey, soporte,diseño web, creacion de sitios, diseño web en monterrey, diseño web nuevo leon,comprar pagina web, web gratis, paginas gratis,pagina wed en monterrey, pagina wed en mty,pagina wed nuevo leon,paginaweb ne monterrey,paginaweb nuevo leon, paginaweb mty,sitios gratis,diseño paginas web,creacion de paginas de internet gratis, creacion de sitios web gratis, creador de sitios web, ventas de paginas de internet en nuevo leon, ventas de paginas web,soporte ruby on rails ,paginas web para mi empresa,paginas web gratis en mty, web gratis mty,sop">
  <META name="robots" content="INDEX,FOLLOW">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller_name %>-<%= action_name %>">
 	<%= yield(:navbar) %>
    <div id="main_container" class="row-fluid">
      <div id="main" role="main">
        <%= yield %>
      </div>
    </div>
    <div class="wizard_footer">
      <%= yield(:footer) %>
    </div>
    <%= yield(:inBody) %>
 </body>
</html>
