<!DOCTYPE html>
<html>
<head>
  <title>WebSite</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller_name %>-<%= action_name %>">
 	<%= yield(:navbar) %>
    <div id="main_container" class="row-fluid">
      <div id="main" role="main">
        <%= yield %>
      </div>
    </div>
    <div class="wizard_footer">
      <%= yield(:footer) %>
    </div>
    <%= yield(:inBody) %>
 </body>
</html>
